{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Add Category</h1>
</div>
<form method="POST" action="/addCategory">
    <label class="control-label" for="pid">Enter the Product ID</label>
    <input class="form-control" id="pid" name="pid" required="" type="text" value="">
    <label class="control-label" for="category">Enter the Category for Product</label>
    <input class="form-control" id="category" name="category" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
