{% extends "base.html" %}

{% block title %}OE-MARKET{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Add Product</h1>
</div>
<form method="POST" action="/addProduct">
    <label class="control-label" for="name">Enter name of the Product</label>
    <input class="form-control" id="name" name="name" required="" type="text" value="">
    <label class="control-label" for="price">Enter the price</label>
    <input class="form-control" id="price" name="price" required="" type="text" value="">
    <label class="control-label" for="stock">Enter the stock</label>
    <input class="form-control" id="stock" name="stock" required="" type="text" value="">
    <label class="control-label" for="pinfo">Enter the product information</label>
    <input class="form-control" id="pinfo" name="pinfo" required="" type="text" value="">
    <label class="control-label" for="producerid">Enter the producer ID</label>
    <input class="form-control" id="producerid" name="producerid" required="" type="text" value="">
    
    <br>
    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
