{% extends "base.html" %}

{% block title %}AddShipping{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Add Shipping</h1>
</div>
<form method="POST" action="/addShipping">
    <label class="control-label" for="pid">Enter Prodcut ID you will buy</label>
    <input class="form-control" id="pid" name="pid" required="" type="text" value="">
    <label class="control-label" for="quantity">Enter product Quantity</label>
    <input class="form-control" id="quantity" name="quantity" required="" type="text" value="">
    <label class="control-label" for="orderDate">Enter the shipping date</label>
    <input class="form-control" id="orderDate" name="orderDate" required="" type="text" value="">
    <label class="control-label" for="zipCode">Enter your zipcode [Address for shipping]</label>
    <input class="form-control" id="zipCode" name="zipCode" required="" type="text" value="">
    <label class="control-label" for="state">Enter your state</label>
    <input class="form-control" id="state" name="state" required="" type="text" value="">
    <label class="control-label" for="city">Enter your city</label>
    <input class="form-control" id="city" name="city" required="" type="text" value="">
    <label class="control-label" for="street">Enter your street</label>
    <input class="form-control" id="street" name="street" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
