{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OE Market</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/signUp">Sign-up</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/signIn">Sign-in</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/signOut">Sign-out</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/userInfo">User Info</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/searchUsers">Search Users</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/updateUsers">Update Users</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deleteUsers">Delete Users</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/myPreference">My Preference</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/addPreference">Add Preference</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deletePreference">Delete Preference</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/searchCategory">Search Category</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/addCategory">Add Category</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deleteCategory">Delete Category</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/myCart">My Cart</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/addToCart">Add to Cart</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/updateCart">Update Cart</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deleteFromCart">Delete from Cart</a></li>
            </ul>
            <!-- YHK -->
            <ul class="nav navbar-nav">
                <li><a href="/searchProducer">Search Producer</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/addProducer">Add Producer</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/updateProducer">Update Producer</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deleteProducer">Delete Producer</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/searchOrder">Search Order</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/addOrder">Add Order</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/updateOrder">Update Order</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deleteOrder">Delete Order</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/shippingHistory">Shipping history</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/addShipping">Add Shipping</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/updateShipping">Update Shipping</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deleteShipping">Delete Shipping</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/searchProduct">Search product</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/addProduct">Add product</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/updateProduct">Update product</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/deleteProduct">Delete product</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
