{% extends "base.html" %}

{% block title %}DeleteShipping{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Delete Shipping</h1>
</div>
<form method="POST" action="/deleteShipping">
    <label class="control-label" for="orderid">Enter the Shipping ID to Delete</label>
    <input class="form-control" id="orderid" name="orderid" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>

{% endblock %}
