{% extends "base.html" %}

{% block title %}OE-MARKET{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Delete Producer</h1>
</div>
<form method="POST" action="/deleteProducer">
    <label class="control-label" for="producerid">Enter the Producer ID to Delete</label>
    <input class="form-control" id="producerid" name="producerid" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>

{% endblock %}
