{% extends "base.html" %}
{% block title %}CSE305/532 AS5_D{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Problem D</h1>
</div>

<form method = "POST" action = '/d'>
<label class="control-label" for="budget">Enter total buget for a PC and Printer.</label>
<input class="form-control" id="budget" name="budget" required="" type="text" value="">
<br>
<label class="control-label" for="speed">Minimum Speed of the PC</label>
<input class="form-control" id="speed" name="speed" required="" type="text" value="">
<br>
<div class = 'button'>
    <button type = "submit">Submit</button>
</div>
</form>

<div>
    <p>
        <h3>Model Number of PC: {{ result[0] }}</h3>
        <h3>Model Number of Printer: {{ result[1] }}</h3>
    </p>
</div>
{% endblock %}