{% extends "base.html" %}
{% block title %}CSE305/532 AS5_B{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Problem B</h1>
</div>
   
<form method="POST" action="/signUP">
    <label class="control-label" for="speed">Minimum Speed</label>
    <input class="form-control" id="speed" name="speed" required="" type="text" value="">
    <label class="control-label" for="RAM">Minimum RAM</label>
    <input class="form-control" id="ram" name="ram" required="" type="text" value="">
    <label class="control-label" for="hd">Minimum Size of Hard-Disk</label>
    <input class="form-control" id="hd" name="hd" required="" type="text" value="">
    <label class="control-label" for="screen">Minimum Size of Screen</label>
    <input class="form-control" id="screen" name="screen" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>
<div>
    <p>
        {% for item in result %}
        <h4>Matching Laptop: {{ item }}</h4>
        {% endfor %}
    </p>
</div>
<br>
<div>
    <p>
        <h2>Query Used:</h2>
        <h4>SELECT L.model, L.speed, L.ram, L.hd, L.screen, L.price, P.maker</h4>
        <h4>FROM Laptops L, Products P</h4>
        <h4>WHERE P.model = L.model AND L.speed >= {speed} AND L.ram >= {ram} AND L.hd >= {hd} AND L.screen >= {screen}</h4>
    </p>
</div>
{% endblock %}