{% extends "base.html" %}

{% block title %}CSE305/532 AS5_E{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Problem E</h1>
</div>

<form method = "POST" action= "/e">
    <label class="control-label" for="manufacturer">Manufacturer</label>
    <input class="form-control" id="manufacturer" name="manufacturer" required="" type="text" value="">
    <br>
    <label class="control-label" for="modelNum">Model Number</label>
    <input class="form-control" id="modelNum" name="modelNum" required="" type="text" value="">
    <br>
    <label class="control-label" for="speed">Speed</label>
    <input class="form-control" id="speed" name="speed" required="" type="text" value="">
    <br>
    <label class="control-label" for="ram">RAM</label>
    <input class="form-control" id="ram" name="ram" required="" type="text" value="">
    <br>
    <label class="control-label" for="hdSize">Hard-Disk Size</label>
    <input class="form-control" id="hdSize" name="hdSize" required="" type="text" value="">
    <br>
    <label class="control-label" for="price">Price of a new PC</label>
    <input class="form-control" id="price" name="price" required="" type="text" value="">
    <br>
    <div class = 'button'>
        <button type="submit">Submit</button>
    </div>
</form>
    <p>
        <h3>{{result}}</h3>
    </p>
{% endblock %}