{% extends "base.html" %}
{% block title %}CSE305/532 AS5_A{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Sign-in</h1>
</div>

<form method="POST" action ="/">
    <div>
        <label class="control-label" for="id">ID</label>
        <input class="form-control" id="id" name="id" required="" type="text" value="">
        <label class="control-label" for="pw">Password</label>
        <input class="form-control" id="pw" name="pw" required="" type="text" value="">
        
        <br>
    </div>

    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>
<div>
    <p>
        <h3>Maker: {{ result[0] }}</h3>
        <h3>Model Number: {{ result[1] }}</h3>
        <h3>Speed of PC: {{ result[2] }} Ghz</h3>
    </p>
</div>
<br>
<div>
    <p>
        <h2>Query Used:</h2>
        <h4>SELECT P.maker, P.model, PC.speed FROM Products P, PCs PC WHERE P.model = PC.model ORDER BY ABS(PC.price - {price}) LIMIT 1</h4>
    </p>
</div>
    
{% endblock %}