{% extends "base.html" %}

{% block title %}OE-MARKET{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Search Product</h1>
</div>
<div>
    <form method="POST" action="/searchProduct">
        <label class="control-label" for="pid">Enter Product ID to search</label>
        <input class="form-control" id="pid" name="pid" required="" type="text" value="">
        <br>
        <div class='button'>
            <button type="submit">Submit</button>
        </div>
        <br>
    </form>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Product Information</th>
                <th>Producer ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in result %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

</div>
{% endblock %}