{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Sign-Up</h1>
</div>

<form method="POST" action="/signUp">
    <label class="control-label" for="id">ID</label>
    <input class="form-control" id="id" name="id" required="" type="text" value="">
    <label class="control-label" for="pw">Password</label>
    <input class="form-control" id="pw" name="pw" required="" type="text" value="">
    <label class="control-label" for="name">Name</label>
    <input class="form-control" id="name" name="name" required="" type="text" value="">
    <label class="control-label" for="zip">zipcode</label>
    <input class="form-control" id="zip" name="zip" required="" type="text" value="">
    <label class="control-label" for="state">state</label>
    <input class="form-control" id="state" name="state" required="" type="text" value="">
    <label class="control-label" for="city">city</label>
    <input class="form-control" id="city" name="city" required="" type="text" value="">
    <label class="control-label" for="street">street</label>
    <input class="form-control" id="street" name="street" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Register</button>
    </div>
    <p>
        <h3>Welcome to OE MARKET! {{result}}</h3>
    </p>

</form>
{% endblock %}
