{% extends "base.html" %}

{% block title %}OE-MARKET{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Update Cart</h1>
</div>
<form method="POST" action="/updateCart">
    <label class="control-label" for="pid">Enter the Product ID to Update</label>
    <input class="form-control" id="pid" name="pid" required="" type="text" value="">
    <label class="control-label" for="quantity">Enter the quantity for product</label>
    <input class="form-control" id="quantity" name="quantity" required="" type="number" value="">
    <br>
    <div class='button'>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
