{% extends "base.html" %}

{% block title %}OE-MARKET{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Update Shipping</h1>
</div>
<form method="POST" action="/updateShipping">
    <label class="control-label" for="orderid">Enter an Shipping ID to update your Shipping Address</label>
    <input class="form-control" id="orderid" name="orderid" required="" type="text" value="">
    <label class="control-label" for="zipcode">ZipCode</label>
    <input class="form-control" id="zipcode" name="zipcode" required="" type="text" value="">
    <label class="control-label" for="state">State</label>
    <input class="form-control" id="state" name="state" required="" type="text" value="">
    <label class="control-label" for="city">City</label>
    <input class="form-control" id="city" name="city" required="" type="text" value="">
    <label class="control-label" for="street">Street</label>
    <input class="form-control" id="street" name="street" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Update</button>
    </div>
</form>
{% endblock %}
