{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Update Users</h1>
</div>
<form method="POST" action="/updateUsers">
    <label class="control-label" for="userId">User UID</label>
    <input class="form-control" id="userId" name="userId" required="" type="text" value="">
    <label class="control-label" for="name">New Name</label>
    <input class="form-control" id="name" name="name" required="" type="text" value="">
    <label class="control-label" for="id">New ID</label>
    <input class="form-control" id="id" name="id" required="" type="text" value="">
    <label class="control-label" for="pw">New Password</label>
    <input class="form-control" id="pw" name="pw" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Update</button>
    </div>
</form>
{% endblock %}
