{% extends "base.html" %}

{% block title %}Update Product{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Update Product</h1>
</div>
<form method="POST" action="/updateProduct">
    <label class="control-label" for="pid">Enter your Product ID to update your information</label>
    <input class="form-control" id="pid" name="pid" required="" type="text" value="">
    <label class="control-label" for="name">Name</label>
    <input class="form-control" id="name" name="name" required="" type="text" value="">
    <label class="control-label" for="price">Price</label>
    <input class="form-control" id="price" name="price" required="" type="text" value="">
    <label class="control-label" for="stock">Stock</label>
    <input class="form-control" id="stock" name="stock" required="" type="text" value="">
    <label class="control-label" for="pinfo">Product Information</label>
    <input class="form-control" id="pinfo" name="pinfo" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Update</button>
    </div>
</form>
{% endblock %}
