{% extends "base.html" %}

{% block title %}OE-MARKET{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Update Producer</h1>
</div>
<form method="POST" action="/updateProducer">
    <label class="control-label" for="producerid">Enter your Producer ID to update your information</label>
    <input class="form-control" id="producerid" name="producerid" required="" type="text" value="">
    <label class="control-label" for="country">Country</label>
    <input class="form-control" id="country" name="country" required="" type="text" value="">
    <label class="control-label" for="brand">Brand</label>
    <input class="form-control" id="brand" name="brand" required="" type="text" value="">
    <br>
    <div class='button'>
        <button type="submit">Update</button>
    </div>
</form>
{% endblock %}
